 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Estilos para los botones */
  .button-container button {
    margin: 8px;
    width: 150px; /* Ancho fijo para botones cuadrados */
    height: 150px; /* Alto fijo para botones cuadrados */
    border: none;
    border-radius: 10px; /* Borde redondeado */
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.2s ease; /* Transición suave al pasar el mouse */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrar contenido verticalmente */

    &:hover {
        transform: scale(1.1); /* Escalar el botón al 110% del tamaño original */
        font-size: 36px; /* Tamaño de fuente más grande al pasar el cursor */
        color: white; /* Color de texto blanco al pasar el cursor */
      }

    .button-name {
        display: none;
      }

    /* Cambiar tamaño de icono y color de texto al pasar el cursor */
    &:hover {
        transform: scale(1.1); /* Escalar el botón al 110% del tamaño original */
        font-size: 36px; /* Tamaño de fuente más grande al pasar el cursor */
    }
    
    /* Color de texto al pasar el cursor */
    &:hover .button-name {
        display: inline; /* Cambia a "inline" para mostrar el nombre */
        color: white; /* Color de texto blanco al pasar el cursor */
        font-size: 24px;
    }
      
  }

  .button-container button:hover .button-name {
    display: inline; /* Cambia a "inline" para mostrar el nombre */
  }
  
  /* Estilos para colores de botones */
  .button-container button:nth-child(1) {
    background-color: #FF5733;
  }
  
  .button-container button:nth-child(2) {
    background-color: #33FF57;
  }
  
  /* Agrega más reglas para otros colores si es necesario */
  
  /* Efecto de escala al pasar el mouse */
  .button-container button:hover {
    transform: scale(1.1); /* Escalar el botón al 110% del tamaño original */
  }
   