.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para los botones */
.button-container button {
  margin: 30px;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &:hover {
    transform: scale(1.0);
    font-size: 45px;
    color: white;
  }
}

.button-name {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  text-align: center;
  color: #615f5f;
  font-size: 18px;
}

.button-container button:nth-child(1) {
  background-color: #FF5733;
}

.button-container button:nth-child(2) {
  background-color: #33FF57;
}

/* Efecto de escala al pasar el mouse */
.button-container button:hover {
  transform: scale(1.1);
}
