.inventario-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    align-items: flex-start;
    padding: 7px;
  }
  
  .inventario-tab-button {
    background: transparent;
    color: #333;
    margin: 0 5px;
    cursor: pointer;
    text-align: left;
    width: auto; 
    padding: 7px;
  }
  
  .inventario-tab-button:hover {
    background: #999;
    border-radius: 6%;
  }

  .inventario-tab-button.selected {
    background-color: lightgray;
    border-radius: 6%;
  }
  
  .tab-content {
    margin-top: 10px;
    grid-column: span 2;
    text-align: left;
    padding: 20px;
  }