.inventario-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }
  
  .inventario-tab-button {
    background: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    text-align: left;
    border-radius: 0; 
    width: auto; 
  }
  
  .inventario-tab-button:hover {
    background: #e46262; 
  }
  